[submodule "asset/core"]
	path = asset/core
	url = https://github.com/onepiece-framework/op-core.git
	branch = onepiece
[submodule "webpack"]
	path = webpack
	url = https://github.com/onepiece-framework/op-module-webpack.git
	branch = onepiece
[submodule "asset/layout/white"]
	path = asset/layout/white
	url = https://github.com/onepiece-framework/op-layout-white.git
	branch = onepiece
[submodule "asset/layout/onepiece"]
    path = asset/layout/onepiece
    url = https://github.com/onepiece-framework/op-layout-onepiece.git
    branch = onepiece
[submodule "asset/unit/app"]
	path = asset/unit/app
	url = https://github.com/onepiece-framework/op-unit-app.git
	branch = onepiece
[submodule "asset/unit/layout"]
	path = asset/unit/layout
	url = https://github.com/onepiece-framework/op-unit-layout.git
	branch = onepiece
[submodule "asset/unit/notice"]
	path = asset/unit/notice
	url = https://github.com/onepiece-framework/op-unit-notice.git
	branch = onepiece
[submodule "asset/unit/router"]
	path = asset/unit/router
	url = https://github.com/onepiece-framework/op-unit-router.git
	branch = onepiece
[submodule "asset/unit/template"]
	path = asset/unit/template
	url = https://github.com/onepiece-framework/op-unit-template.git
	branch = onepiece
[submodule "asset/unit/webpack"]
	path = asset/unit/webpack
	url = https://github.com/onepiece-framework/op-unit-webpack.git
	branch = onepiece
[submodule "asset/unit/dump"]
	path = asset/unit/dump
	url = https://github.com/onepiece-framework/op-unit-dump.git
	branch = onepiece
[submodule "asset/unit/git"]
	path = asset/unit/git
	url = https://github.com/onepiece-framework/op-unit-git
	branch = onepiece
[submodule "asset/unit/ci"]
	path = asset/unit/ci
	url = https://github.com/onepiece-framework/op-unit-ci.git
	branch = onepiece
[submodule "asset/unit/cd"]
	path = asset/unit/cd
	url = https://github.com/onepiece-framework/op-unit-cd.git
	branch = onepiece
[submodule "asset/unit/translate"]
    path = asset/unit/translate
    url = https://github.com/onepiece-framework/op-unit-translate.git
    branch = onepiece
[submodule "asset/unit/model"]
    path = asset/unit/model
    url = https://github.com/onepiece-framework/op-unit-model.git
    branch = master
[submodule "asset/develop"]
	path = asset/develop
	url = https://github.com/onepiece-framework/op-module-develop.git
	branch = onepiece
[submodule "asset/webpack/css"]
	path = asset/webpack/css
	url = https://github.com/onepiece-framework/op-webpack-css.git
	branch = onepiece
[submodule "asset/webpack/js"]
	path = asset/webpack/js
	url = https://github.com/onepiece-framework/op-webpack-js.git
	branch = onepiece
[submodule "op-module-reference"]
	path = reference
	url = https://github.com/onepiece-framework/op-module-reference.git
	branch = onepiece
[submodule "tutorial"]
	path = tutorial
	url = https://github.com/onepiece-framework/op-module-tutorial
	branch = onepiece
